/.venv/
/static/inspections/
/static/inspections/*
/static/files/profile_images
/static/files/profile_images/*
/static/files/reports_temp
/static/files/reports_temp/*
/ILAS/migrations
/user_auth/migrations
/reports/migrations
/ILAS/migrations/*
/user_auth/migrations/*
/reports/migrations/*
ILAS/__pycache__/
ILAS/__pycache__/*
user_auth/__pycache__/
user_auth/__pycache__/*
reports/__pycache__/
reports/__pycache__/*
LTLMS/__pycache__/
LTLMS/__pycache__/*

