#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    padding: 0;
    margin: 0;
    overflow: auto
}

#page-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0
}

@media screen {
    #sidebar.opened+#page-container {
        left: 250px
    }
    #page-container {
        bottom: 0;
        right: 0;
        overflow: auto
    }
}

.pf {
    position: relative;
    background-color: white;
    overflow: hidden;
    margin: 0;
    border: 0
}

.pc {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    display: block;
}

.bf {
    position: absolute;
    border: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.bi {
    position: absolute;
    border: 0;
    margin: 0;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.c {
    position: absolute;
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: block
}

.t {
    position: absolute;
    white-space: pre;
    font-size: 1px;
    transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    unicode-bidi: bidi-override;
    -moz-font-feature-settings: "liga" 0
}

.t:after {
    content: ''
}

.t:before {
    content: '';
    display: inline-block
}

.t span {
    position: relative;
    unicode-bidi: bidi-override
}

._ {
    display: inline-block;
    color: transparent;
    z-index: -1
}

::selection {
    background: rgba(127, 255, 255, 0.4)
}

::-moz-selection {
    background: rgba(127, 255, 255, 0.4)
}

.pi {
    display: none
}

.d {
    position: absolute;
    transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%
}

.it {
    border: 0;
    background-color: rgba(255, 255, 255, 0.0)
}

.ir:hover {
    cursor: pointer
}

.ff0 {
    font-family: sans-serif;
    visibility: hidden;
}

@font-face {
    font-family: ff1;
    src: url('/static/font/report1.ttf')format("woff");
}

.ff1 {
    font-family: ff1;
    line-height: 0.961000;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff2;
    src: url('/static/font/report2.ttf')format("woff");
}

.ff2 {
    font-family: ff2;
    line-height: 1.287000;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff3;
    src: url('/static/font/report3.ttf')format("woff");
}

.ff3 {
    font-family: ff3;
    line-height: 0.976000;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff4;
    src: url('/static/font/report4.ttf')format("woff");
}

.ff4 {
    font-family: ff4;
    line-height: 1.217000;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff5;
    src: url('/static/font/report5.ttf')format("woff");
}

.ff5 {
    font-family: ff5;
    line-height: 1.320000;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

.m0 {
    transform: matrix(0.375000, 0.000000, 0.000000, 0.375000, 0, 0);
    -ms-transform: matrix(0.375000, 0.000000, 0.000000, 0.375000, 0, 0);
    -webkit-transform: matrix(0.375000, 0.000000, 0.000000, 0.375000, 0, 0);
}

.v0 {
    vertical-align: 0.000000px;
}

.ls3 {
    letter-spacing: -1.536000px;
}

.ls1 {
    letter-spacing: -1.296000px;
}

.ls2 {
    letter-spacing: -0.864000px;
}

.ls0 {
    letter-spacing: 0.000000px;
}

.sc_ {
    text-shadow: none;
}

.sc0 {
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .sc_ {
        -webkit-text-stroke: 0px transparent;
    }
    .sc0 {
        -webkit-text-stroke: 0.015em transparent;
        text-shadow: none;
    }
}

.ws6 {
    word-spacing: -3.008000px;
}

.ws7 {
    word-spacing: -2.592000px;
}

.ws5 {
    word-spacing: -2.368000px;
}

.ws4 {
    word-spacing: -2.144000px;
}

.ws2 {
    word-spacing: -1.728000px;
}

.ws1 {
    word-spacing: -1.536000px;
}

.ws3 {
    word-spacing: -0.864000px;
}

.ws0 {
    word-spacing: 0.000000px;
}

.ws8 {
    word-spacing: 1.536000px;
}

._2 {
    margin-left: -1248.864000px;
}

._3 {
    margin-left: -3.817600px;
}

._1 {
    margin-left: -2.764800px;
}

._0 {
    margin-left: -1.392000px;
}

._4 {
    width: 1.532800px;
}

.fc4 {
    color: rgb(0, 0, 128);
}

.fc3 {
    color: rgb(0, 0, 128);
    font-family: monospace;
    direction: rtl;
    unicode-bidi: embed !important;
}

.fc2 {
    color: rgb(35, 31, 32);
}

.fc0 {
    color: rgb(94, 96, 97);
}

.fc1 {
    color: rgb(252, 82, 41);
}

.fs0 {
    font-size: 32.000000px;
}

.fs2 {
    font-size: 34.000000px;
}

.fs1 {
    font-size: 48.000000px;
}

.y0 {
    bottom: -0.750000px;
}

.y2c {
    bottom: 0.8px;
}

.y23 {
    bottom: 84.636000px;
}

.y22 {
    bottom: 85.752000px;
}

.y18 {
    bottom: 133.233450px;
}

.y25 {
    bottom: 174.357600px;
}

.y24 {
    bottom: 175.473600px;
}

.y26 {
    bottom: 213.201600px;
}

.y17 {
    bottom: 295.603800px;
}

.y16 {
    bottom: 329.299800px;
}

.y15 {
    bottom: 329.305500px;
}

.y21 {
    bottom: 364.929450px;
}

.y14 {
    bottom: 366.061500px;
}

.y13 {
    bottom: 404.619900px;
}

.y11 {
    bottom: 449.696850px;
}

.y20 {
    bottom: 491.097450px;
}

.y10 {
    bottom: 491.120100px;
}

.y1f {
    bottom: 527.841450px;
}

.yf {
    bottom: 527.864100px;
}

.y12 {
    bottom: 563.888850px;
}

.ye {
    bottom: 564.620100px;
}

.yd {
    bottom: 598.076100px;
}

.y1e {
    bottom: 632.205450px;
}

.yc {
    bottom: 632.228100px;
}

.y1d {
    bottom: 669.597450px;
}

.yb {
    bottom: 669.620100px;
}

.y1c {
    bottom: 706.413450px;
}

.y1b {
    bottom: 747.789450px;
}

.ya {
    bottom: 748.484100px;
}

.y1a {
    bottom: 785.973450px;
}

.y9 {
    bottom: 785.984100px;
}

.y8 {
    bottom: 818.984100px;
}

.y19 {
    bottom: 931.485450px;
}

.y2 {
    bottom: 965.595600px;
}

.y5 {
    bottom: 965.600100px;
}

.y1 {
    bottom: 965.727600px;
}

.y4 {
    bottom: 1002.880350px;
}

.y3 {
    bottom: 1062.765450px;
}

.y27 {
    bottom: 1135.600350px;
}

.y28 {
    bottom: 1150.696350px;
}

.y2b {
    bottom: 1177.593000px;
}

.y29 {
    bottom: 1180.696950px;
}

.y2a {
    bottom: 1181.308950px;
}

.h8 {
    height: 15.024000px;
}

.h5 {
    height: 24.352000px;
}

.h6 {
    height: 24.736000px;
}

.h2 {
    height: 30.400000px;
}

.h4 {
    height: 30.624000px;
}

.h7 {
    height: 30.752000px;
}

.h9 {
    height: 44.143555px;
}

.h3 {
    height: 45.936000px;
}

.h0 {
    height: 1262.835000px;
}

.h1 {
    height: 1263.750000px;
}

.w2 {
    width: 131.662500px;
}

.w0 {
    width: 892.914000px;
}

.x27 {
    left: 5px;
}

.x23 {
    left: 46.303650px;
}

.x2 {
    left: 54.532050px;
}

.x24 {
    left: 132.931650px;
}

.x1e {
    left: 143.303100px;
}

.x1a {
    left: 170.963100px;
}

.x25 {
    left: 190.717500px;
}

.x16 {
    left: 217.306650px;
}

.x26 {
    left: 234.589500px;
}

.x12 {
    left: 276.623850px;
}

.x1f {
    left: 280.007100px;
}

.x3 {
    left: 283.505100px;
}

.x21 {
    left: 307.208400px;
}

.x1b {
    left: 250px;
}

.x18 {
    left: 394.727100px;
}

.x5 {
    left: 412.679400px;
}

.x22 {
    left: 459.092400px;
}

.x11 {
    left: 524.879850px;
}

.x4 {
    left: 559.594500px;
}

.xd {
    left: 566.891400px;
}

.x9 {
    left: 587.375400px;
}

.x13 {
    left: 593.842500px;
}

.x19 {
    left: 619.883100px;
}

.xf {
    left: 624.347400px;
}

.x1d {
    left: 547px;
    unicode-bidi: embed !important;
}

.x1c {
    left: 643.391100px;
}

.x8 {
    left: 671.663400px;
}

.xy6 {
    position: relative;
    text-align: right;
    left: 504px;
    top: 339px;
}

.xy7 {
    position: relative;
    text-align: right;
    left: 504px;
    top: 345.5px;
}

.xy8 {
    position: relative;
    text-align: right;
    left: 504px;
    top: 353px;
}

.xy9 {
    position: relative;
    text-align: right;
    left: 504px;
    top: 358px;
}

.xya {
    position: relative;
    text-align: right;
    left: 504px;
    top: 364.5px;
}

.xyc {
    position: relative;
    text-align: right;
    left: 504px;
    top: 448px;
}

.xye {
    position: relative;
    text-align: right;
    left: 504px;
    top: 458px;
}

.xy12 {
    position: relative;
    text-align: right;
    left: 40px;
    top: 366px;
}

.xyf {
    position: relative;
    text-align: right;
    left: 504px;
    top: 462px;
}

.xy10 {
    position: relative;
    text-align: right;
    left: 504px;
    top: 466px;
}

.xy15 {
    position: relative;
    text-align: right;
    left: 504px;
    top: 569px;
}

.xy16 {
    position: relative;
    text-align: right;
    left: 168px;
    top: 539px;
}

.xy17 {
    position: relative;
    text-align: right;
    left: 504px;
    top: 544px;
}

.xyc2 {
    position: relative;
    text-align: right;
    left: 168px;
    top: 418px;
}

.xy1a {
    position: relative;
    text-align: right;
    left: 110px;
    top: 23px;
}

.xy1e {
    position: relative;
    text-align: right;
    right: 80px;
    top: 144px;
}

.xy1f {
    position: relative;
    text-align: right;
    left: 40px;
    top: 220px;
}

.xy2 {
    position: relative;
    text-align: right;
    left: 40px;
    top: 224px;
}

.x10 {
    left: 678.251400px;
}

.x15 {
    left: 689.012250px;
}

.x1 {
    left: 695.644050px;
}

.xc {
    left: 713.231400px;
}

.xa {
    left: 728.987400px;
}

.xe {
    left: 734.891400px;
}

.xb {
    left: 738.047400px;
}

.x14 {
    left: 740px;
}

.x20 {
    left: 746.900400px;
}

.x17 {
    left: 748.798650px;
}
