{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">إضافة سجل جديد</h2>

    <form method="POST" class="card p-4 shadow">
        {% csrf_token %}
        <!-- Render Form Fields -->
        <div class="mb-3">
            <label for="malti_select"  class="form-label">المؤسسة</label>
            <select type="text" name="establishment" class="form-control" id="malti_select" required>
  <option value="" selected>---------</option>
                {% for establishment in establishments %}
                	<option value="{{ establishment.id }}" selected>{{ establishment.establishment_name }}</option>
                {% endfor %}

</select>
        </div>

        <div class="mb-3">
            <label class="form-label">تاريخ الإصدار</label>
            <input type="date" name="issuance_date" class="form-control" required aria-describedby="id_issuance_date_helptext" id="id_issuance_date">
        </div>

        <div class="mb-3">
            <label class="form-label">تاريخ الانتهاء</label>
            <input type="date" name="expiration_date" class="form-control" required aria-describedby="id_expiration_date_helptext" id="id_expiration_date">
        </div>

        <button type="submit" class="btn btn-lg" style="background-color:#8A1538; color:white;">إضافة السجل</button>
        <a href="/registers/" class="btn btn-secondary">إلغاء</a>
    </form>

</div>
<script type="text/javascript">
$(document).ready(function(){
$('#malti_select').selectize({
    plugins: ['remove_button'],
    delimiter: ',',
    persist: false,
    create: function(input) {
        return {
            value: input,
            text: input
        }
    }
});
});

</script>

{% endblock %}
