{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}
    <title>Form Example</title>

{% endblock %}

{% block content %}

<body dir="rtl">
    <div class="container">
        <br />
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center">بيانات المنشأة</h3>
            </div>
            <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">اسم المنشأة</th>
                    <th scope="col">رقم السجل</th>
                    <th scope="col">تاريخ انتهاء السجل</th>
                    <th scope="col">حالة السجل</th>
                    <th scope="col">رقم الترخيص</th>
                    <th scope="col">حالة الترخيص</th>
                    <th scope="col">اسم المالك</th>
                    <th scope="col">تعديل منشأة</th>
                    <th scope="col">حذف منشأة</th>
                </tr>
            </thead>
            <tbody>
                {% for est in establishments %}
                <tr>
                    <th scope="row">{{ est.rifd }}</th>
                    <td>{{ est.establishment_name }}</td>
                    <td>{{ est.get_register.id }}</td>
                    <td>{{ est.get_register.expiration_date }}</td>
                <td>
                  {% if est.get_register.expiration_date > today %}
                    ساري المفعول
                  {% else %}
                    منتهي
                  {% endif %}
                </td>
                    <td>{{ est.get_license.number }}</td>
                    <td>
                  {% if est.get_license.expiration_date > today %}
                    ساري المفعول
                  {% else %}
                    منتهي
                  {% endif %}
                </td>

            
                    <td>{{ est.owner_name }}</td>
                    <td>
                        <a href="/edit_establishment/{{est.register_number}}">
                            <button class="btn btn-primary" type="submit">تعديل</button>
                        </a>
                         {% if est.get_register %}

                              {% else %}
                                <a href="{% url 'add_register' %}">
                            <button class="btn " style="background-color:#8A1538; color:white;" type="submit">أضافة سجل</button>
                        </a>
                              {% endif %}
                    </td>
                    <td>
                        <button class="btn btn-danger" type="button" onclick="confirmToPost('/delete_establishment/{{est.register_number}}')">حذف</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
    <span class="step-links">
        {% if establishments.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ establishments.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ establishments.number }} of {{ establishments.paginator.num_pages }}.
        </span>

        {% if establishments.has_next %}
            <a href="?page={{ establishments.next_page_number }}">next</a>
            <a href="?page={{ establishments.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
        </div>
    </div>
</body>
{% endblock %}

</html>
